:host {
	display: block;
	margin-right: 30px;
	color: red;
}

.item {
	display: block;
}
	.item {
		contain: content;
	}

	button {
		margin-bottom: 7px;
	}

	.nested-items {
		display: flex;
		flex-direction: column;
		margin-left: 20px;
		margin-bottom: 20px;
		white-space: nowrap;
	}